openapi: 3.0.3
info:
  title: Coffee Shop API
  description: This API allows customers to browse coffee from a shop.
  contact:
    name: Hridyesh Bisht
    email: kakabisht07@gmail.com
  version: 1.0.0
servers:
- url: https://api.coffeeshop.com/v1
  description: Production server
- url: https://staging.api.coffeeshop.com/v1
  description: Staging server
paths:
  /coffees:
    get:
      summary: Get a list of all available coffees
      description: Returns a list of all coffees available in the shop.
      operationId: coffees_get
      responses:
        "200":
          description: A list of coffees
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coffee'
                x-content-type: application/json
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /coffees/{id}:
    get:
      summary: Get details of a specific coffee
      description: Returns details of a coffee given its ID.
      operationId: coffees_id_get
      parameters:
      - name: id
        in: path
        description: ID of the coffee
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Coffee details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coffee'
        "404":
          description: Coffee not found
      x-openapi-router-controller: swagger_server.controllers.default_controller
components:
  schemas:
    Coffee:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Espresso
        price:
          type: number
          format: float
          example: 2.99
        description:
          type: string
          example: "A strong, full-bodied coffee."
      example:
        price: 2.99
        name: Espresso
        description: "A strong, full-bodied coffee."
        id: 1

